<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Australian Dictionary of Biography - Forget Password</title>
    <link rel="icon" href="../static/favicon.ico" />
    <link rel="stylesheet" href="forget_pw.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="background-overlay"></div>
    <div class="container">
        <header class="header">
            <div class="logo-container">
                <a href="home_page.html">
                    <img src="../static/Logo.jpeg" alt="Logo" class="logo">
                </a>
                <h1>Australian Dictionary of Biography</h1>
            </div>
            <div class="button-container">
                <a href="login.html" class="login-button">Login</a>
                <span>|</span>
                <a href="register_page.html" class="register-button">Register</a>
            </div>
        </header>

        <div class="forget-password-container">
            <h2>Forget your password?</h2>
            <p>Enter your email address and we’ll send the link to reset your passwords</p>
            <form>
                <label for="email">Email:</label>
                <div class="email-container">
                    <input type="email" id="email" placeholder="Enter your email" required>
                    <button type="button" class="send-code">
                        <svg class="send-icon" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="22" y1="2" x2="11" y2="13"></line>
                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                        </svg>
                    </button>
                </div>

                <label for="verify-code">Verify Code:</label>
                <input type="text" id="verify-code" placeholder="Enter the code" required>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>


</html>
