<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Australian Dictionary of Biography</title>
    <link rel="icon" href="../static/favicon.ico" />
    <link rel="stylesheet" href="home_page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playwrite+CU:wght@100..400&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <a href=" " class="category">Category</a>
            <div class="right-header">
                <a href="#" class="contact-us">Contact us</a>
                <span></span>
                <a href="Login.html" class="login">Login</a>
            </div>
        </div>

        <div class="title">
            <h1>AUSTRALIAN DICTIONARY OF BIOGRAPHY</h1>
        </div>

        <div class="image-container">
            <img src="../static/Logo.jpeg" alt="Biography Image">
        </div>

        <div class="search-container">
            <form action="Search_page.html" method="GET">
                <input type="text" name="query" placeholder="Search...">
            </form>
        </div>
    </div>
</body>


</html>